::-webkit-scrollbar {
    width: 5px;
}

#popover-body {
    display: flex;
    gap: 3;
}

.navbar {
    display: flex;
}


.profile-modal {
    width: 200px;
    min-height: 50vh;
    background-color: white;
    position: absolute;
    top: 1;
    right: 0;
    margin-right: 10px;
    border-radius: 10px;
    border: 1px solid black;
    z-index: 999;
}

.profile-modal:hover {
    display: block;
}

.profile-heading {
    margin: auto;
    font-size: 1em;
    font-weight: lighter;
    padding: 1px;
}

.footer-logout {
    min-width: 82%;
    position: absolute;
    bottom: 0;
    text-align: center;
    margin: 18px;
}

.no-button-style {
    background-color: transparent;
    border: none;
}

.divider {
    border: 1px solid rgb(151, 151, 151);
    width: 100%;
    min-height: 0px;
    margin: 1px;
}

.cursor-pointer {
    cursor: pointer;
}

.circle {
    width: 2.6rem;
    height: 2.6rem;
    background-color: whitesmoke;
    border-radius: 50%;
    text-align: center;
    padding-top: 6px;
    position: relative;
}

.font-style {
    color: rgb(101, 136, 241);
    font-weight: bold;
}

.profile {
    border-radius: 100%;
    background-color: aliceblue;
}

li {
    list-style: none;
}


.scrollable-div {
    overflow: auto;
}

.scrollable-div::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.scrollable-div::-webkit-scrollbar-track {
    box-shadow: 0 0 5px grey;
}

/* Handle */
.scrollable-div::-webkit-scrollbar-thumb {
    background: #d3d3d3
}

/* Handle on hover */
.scrollable-div::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}